<!DOCTYPE HTML>
<head>

</head>
<body>

<h1> CREATE PERSONS </h1>


<div>
<%= form_tag("/persons/create", method: "post") do %>
	<%= text_field_tag :first_name %> Name
	<%= text_field_tag :last_name %> Last Name
	<%= text_field_tag :description %> Description
	<%= date_field_tag :birth_date %> Select birth date
	<%= radio_button_tag(:typeofperson , "director") %> Director
	<%= radio_button_tag(:typeofperson, "actor") %> Actor
	<%= submit_tag("Submit person") %>

<% end %>

</div>

</body>
</html>
